@mixin fullscreen_wrapper {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
  padding: $outer_padding; 
}

//  Small
@media (max-width: 768px) {
  @mixin fullscreen_wrapper {
    min-height: -webkit-fill-available;  
  }
}