.principle_lottie_wrapper {
  height: 1500vh;
}

.lottie_container {
  position: sticky;
  top: 0;  
}

.principle_lottie {
  height: 100vh!important;
  width: 100%;
}

// ***** MEDIA QUERIES ******** //

//  Large
@media (max-width: 1800px) {

}

//  Medium
@media (max-width: 1280px) {

}

//  mobile only
@media (max-width: 480px) {
  .principle_lottie {
    height: $mobile_height!important;
  }
}