.spotlight_footer_wrapper {
  position: fixed;
  color: $white;
  bottom: 0;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
}

.footer_text_container {
  padding-bottom: $btn_text_gap;
}

.footer_header {
  font-weight: 700;
}

// ***** MEDIA QUERIES ******** //

//  Large
@media (max-width: 1800px) {
  .spotlight_footer_wrapper {
    font-size: 1.4rem;
  }
  .footer_btn_container img {
    width: 36px;
  }
  .footer_text_container {
    padding-bottom: 10px;
  }
}

//  Medium
@media (max-width: 1280px) {
  .spotlight_footer_wrapper {
    font-size: 1.2rem;
  }
}

//  Small
@media (max-width: 768px) {

}
