// breakpoints
$mobile: 360px;
$tablet: 768px;
$laptop: 1280px;
$desktop: 1800px;

// colors
$white: #ffffff;
$black: #000000;
$primary: #EAE6DD;
$gray: #E6E6E6;

// grid-sizes
$g1: calc(100vw / 14 * 1);
$g2: calc(100vw / 14 * 2);
$g3: calc(100vw / 14 * 3);
$g4: calc(100vw / 14 * 4);
$g5: calc(100vw / 14 * 5);
$g6: calc(100vw / 14 * 6);
$g7: calc(100vw / 14 * 7);
$g8: calc(100vw / 14 * 8);
$g9: calc(100vw / 14 * 9);
$g10: calc(100vw / 14 * 10);
$g11: calc(100vw / 14 * 11);
$g12: calc(100vw / 14 * 12);
$g13: calc(100vw / 14 * 13);
$g14: calc(100vw / 14 * 14);

// sizes
$btn_text_gap: 15px;
$outer_padding: calc(100vw / 14 * .25);